.App {
  text-align: center;
}


.header {
  background-color: #9698FC;
  padding: 0.85% 0;
  height: 10vh;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 0.2fr 1.3fr 0.2fr 0.1fr 0.1fr 0.1fr;
}

.header-one {
  width: 80%;
  margin-left: 13px;
  background-color: #494949;
}

.header-two {
  background-color: white;
}

.header-three {
  background-color: grey
}

.header-four {
  background-color: #494949;
}

.header-five {
  background-color: #494949;
}

.header-six {
  background-color: #494949;
}

.header-child{
  height: 7vh;
  margin-right: 7px;
  padding: 1.7% 0;
}

.board-view {
  width: 60%;
  display: table;
  float: right;
  padding-left:20px;

}

.ships {
  margin-top: 20px;
  width: 40%
}

#square-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 6px solid orange;
}

.square {
  background: #fff;
  border: 1px solid #999;
  width: 100%;
  height: 100%;
  float: left;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.not-click {
    pointer-events : none;
}

.unchecked {
  color: #fff;
}

.cross-img {
  max-width: 100%;
}

.hp-circle{
  max-width: 90%;
}

.ship-img{
  width: 90%;
}


.ship-container{
  margin-left: 0px;
  margin-bottom: 20px;
  width: 60%;
  float: left;
}

.hp-container{
  padding-top: 5%;
  padding-left: 0px;
  float: right;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.score-table {
  text-align: center;
  font-weight: bold;
  vertical-align:middle;
  width: 100%;
}

.score-row {
  height: 120px;
  font-size: 65px;
}

.score-div {
  margin: auto;
  width: 90%;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.player-one {
  background-color: orange;
  text-align: center;
}

.player-two {
  background-color: #2DB8A0;
}

.player-row {
  font-size: 25px;
  height: 70px;
  margin-bottom: 10px;
}

.table-container {
  margin-bottom: 50px;
  border: 1px solid grey;
}

@media only screen and (max-device-width: 1024px),
only screen and (max-device-width: 1024px) and (-webkit-device-pixel-ratio:2)
  {
  .header{
    padding-top: 1.9%;
    margin-bottom: 10px;
  }

  .header-one {
    width: 90%;
    margin-left: 10px;
  }

  .header-two {
    width: 100%;
    margin-left: 10px;
  }

  .header-three {
    width: 101%;
    margin-left: 20px;

  }

  .header-four {
    width: 180%;
    margin-left: 25px;
  }

  .header-five {
    display: none;
  }

  .header-six {
    display: none;
  }

  .board-view {
    width: 100%;
    padding-left:0px;
  }

  .ships {
    margin-top: 20px;
    width: 100%
  }

  .table-container {
    width: 37%;
    float: left;
  }

  .ship-ui-container {
    margin-top: 5px;
    width: 60%;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ship-container {
    padding-left: 5px;
  }

  .score-row {
    height: 90px;
    font-size: 45px;
  }

  .player-row {
    font-size: 22px;
    height: 50px;
    margin-bottom: 9px;
  }

}


@media only screen and (max-device-width: 667px){

  .header {
    padding-top: 2.5%;
    margin-bottom: 0px;
  }

  .header-two {
    margin-left: 12px;
  }

  .header-four {
    width: 120%;
  }

  .header-five {
    display: none;
  }

  .header-six {
    display: none;
  }

  .table-container {
    width: 100%;
    background-color: orange;
    margin-bottom: 10px;
    border: none;
  }

  .board-view {
    width: 100%;
    padding-left:0px;
  }

  .ships {
    margin-top: 10px;
    width: 100%
  }

  .ship-ui-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ship-container {
    padding-left: 5px;
  }

  .score-row {
    height: 90px;
    font-size: 45px;
  }

  .player-row {
    font-size: 22px;
    height: 50px;
    margin-bottom: 9px;
  }

  .ships {
    margin-top: 0px;
  }

  #square-container {
    margin-top: 0px;
  }

}

@media only screen and (max-device-width: 320px){
   .header-four {
    width: 100%;
  }

 .ships {
    margin-top: 5px;
    width: 100%
  }
}

